/* AboutPage.css */

.about-container {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f4f4f4;
  line-height: 1.6;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.about-container h1, .about-container h2, .about-container h3 {
  color: #007bff; /* Blue color for headings */
  margin-bottom: 20px;
  text-align: center;
}

.about-container p {
  font-size: 1.1em;
  margin-bottom: 15px;
  text-align: justify;
}

.about-container ul, .about-container ol {
  margin-left: 20px;
  margin-bottom: 20px;
}

.about-container li {
  margin-bottom: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .about-container h1 {
    font-size: 1.8em;
  }

  .about-container h2 {
    font-size: 1.5em;
  }

  .about-container h3 {
    font-size: 1.3em;
  }

  .about-container p, .about-container li {
    font-size: 1em;
  }
}
