.quote-container {
  max-width: 90%; /* Adjusted to take up more of the page width */
  margin: 40px auto; /* Increased margin for better spacing */
  padding: 40px; /* Increased padding for better spacing */
  text-align: center;
  color: white;
  background-color: #6495ED; /* Optional: Add a background color */
  border-radius: 10px; /* Optional: Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Box shadow for depth */
  margin-top: 100px;
  margin-bottom: 100px;
}

.quote-header {
  font-size: 1.5em;
}

.quote-container h1 {
  margin-bottom: 30px; /* Increased bottom margin */
  color: white;
  font-size: 2.5em;
}

.quote-container form {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Increased gap for better spacing */
}

.quote-container label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.quote-container button {
  background-color: #1C1C1C;
  color: white;
  border: none;
  padding: 15px 30px; /* Increased padding for a larger button */
  cursor: pointer;
  border-radius: 8px; /* Adjusted border radius */
  font-size: 1.1em; /* Increased font size */
}

.quote-container button:hover {
  background-color: #808080;
}

/* Responsive Design for smaller screens */
@media (max-width: 768px) {
  .quote-container {
    max-width: 100%;
    padding: 20px;
  }
}

/*Job dropdown*/
.job-dropdown {
  width: 100%; /* Full width */
  padding: 8px 12px; /* Some padding */
  border: 1px solid #ccc; /* A light border */
  border-radius: 4px; /* Rounded corners */
  box-sizing: border-box; /* Box sizing to include padding */
  margin-top: 8px; /* Margin for spacing */
  margin-bottom: 16px; /* Margin for spacing */
  background-color: white; /* Background color */
  font-size: 16px; /* Text size */
  color:black;
}

.job-dropdown:focus {
  outline: none; /* Removes the default focus outline */
  border-color: #6658d3; /* Changes border color on focus */
  box-shadow: 0 0 5px rgba(102, 88, 211, 0.5); /* Adds a subtle shadow on focus */
}

.job-dropdown option {
  color: black; /* Text color for options */
  padding: 10px; /* Padding for options */
}

.job-dropdown option[value=""][disabled] {
  color: gray;
}

.text-box {
  width: 100%; /* Full width */
  padding: 8px 12px; /* Some padding */
  border: 1px solid #ccc; /* A light border */
  border-radius: 4px; /* Rounded corners */
  box-sizing: border-box; /* Box sizing to include padding */
  margin-top: 8px; /* Margin for spacing */
  margin-bottom: 16px; /* Margin for spacing */
  background-color: white; /* Background color */
  font-size: 16px; /* Text size */
}

.text-box:focus {
  outline: none; /* Removes the default focus outline */
  border-color: #00FFFF; /* Changes border color on focus */
  box-shadow: 0 0 5px rgba(102, 88, 211, 0.5); /* Adds a subtle shadow on focus */
}

.my-button {
  color: red;
}

