/* App.css */

/* CSS Reset or Normalize */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* ... more reset styles ... */

/* Global Styles */
body {
  font-family: 'Roboto', sans-serif; /* Your preferred font */
  line-height: 1.6;
  color: #333;
  background-color: #1C1C1C ; /* Your preferred background color */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

a {
  color: #1C1C1C; /* Your preferred link color */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 80%;
  margin: auto;
  max-width: 1200px; /* Adjust as needed */
  padding: 0 20px;
}

/* Utility Classes */
.text-center {
  text-align: center;
}

.mt-1 { margin-top: 1rem; }
.mb-1 { margin-bottom: 1rem; }
/* ... more utility classes ... */

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    width: 95%;
  }

  /* Other responsive styles */
}